[submodule "Cohort2"]
	path = Cohort2
	url = https://github.com/AISaturdaysLagos/Cohort2.git
[submodule "Cohort3"]
	path = Cohort3
	url = https://github.com/AISaturdaysLagos/Cohort3.git
[submodule "Cohort4"]
	path = Cohort4
	url = https://github.com/AISaturdaysLagos/Cohort4.git
[submodule "Cohort5"]
	path = Cohort_5
	url = https://github.com/AISaturdaysLagos/Cohort_5.git
